button
    transition: all 0.3s ease

.btn-problem-block
    position: absolute
    bottom: 50px
    left: 0
    right: 0

.btn-problem
    position: absolute
    height: 48px
    width: 340px
    bottom: 0
    right: 100px
    border-radius: 40px
    background-color: #6C9E5D
    text-align: center
    transition: all 0.3s ease

    &:hover
        background-color: rgba(255, 255, 255,0.9)
        cursor: pointer
        border: 1px solid #6C9E5D
        & p
            color: #000

    & p
        color: #fff
        font-size: 16px
        font-family: Roboto

//button in info-icon modal

.btn-close-problem-icon
    background: #518371
    width: 160px
    height: 48px
    border-radius: 40px
    cursor: pointer
    font-size: 16px
    color: #fff
    margin: 25px 0
    &:hover
        background: #6eb99e
