button
    transition: all 0.3s ease

.btn-problem-block
    position: absolute
    bottom: 50px
    left: 0
    right: 0

.btn-problem
    position: absolute
    height: 48px
    width: 340px
    bottom: 0
    left: 747px
    border-radius: 30px
    background-color: #42836B
    border: 1px solid #42836B
    text-align: center
    transition: all 0.3s ease

    &:hover
        background-color: rgba(255, 255, 255,0.9)
        cursor: pointer
        border: 1px solid #42836B
        & p
            color: #000

    & p
        color: #fff
        font-size: 16px
        font-family: Roboto

//button in info-icon modal

.btn-close-problem-icon
    position: absolute
    width: 24px
    height: 23px
    right: 8px
    top: 8px
    border: none
    background: #FFFFFF
    color: #518371

.btn-modal-close-confirm- status -change
        width: 24px
        height: 24px
        left: 533px
        top: 10px
        cursor: pointer
        border: none
        font-weight: normal
        font-size: 14px
        line-height: 21px
        color: #78B0A0
        line-height: 21px
        background: #FFFFFF

.btn-confirm- status- change

    width: 160px
    height: 68px
    left: 139px
    top: 851px
    background: #518371
    border: 1px solid #5E8D7C
    border-radius: 40px
    transition: all 0.5s
    font-weight: normal
    font-size: 16px
    line-height: 19px
    color: #FFFFFF


.doneMarker
    position: absolute
    width: 160px
    height: 48px
    left: 135px
    bottom: 46px
    border: 1px solid #518371
    border-radius: 40px
    background: #FFFFFF
    color: #518371

.btn-close-pass
    position: absolute
    width: 24px
    height: 24px
    right: 3px
    top: 8px
    cursor: pointer
    border: none
    font-weight: normal
    font-size: 14px
    line-height: 21px
    color: #78B0A0
    line-height: 21px
    background: #FFFFFF

.btn-submit-pass

        width: 120px
        height: 28px
        left: 235px
        bottom: 33px
        border: 1px solid #518371
        border-radius: 40px
        background: #518371
        color: #FFFFFF
        outline: none

//btn login main page
.btn-login
    width: 220px
    height: 40px
    background: #518371
    border-radius: 10px
    color: #ffffff
    margin: auto
    font-size: 16px

    border: none
    margin-bottom: 10px
    &:hover
        background: #65a38c
.btn-forgot-password
    font-size: 14px
    margin: auto
    background: none
    border: none
    margin-bottom: 75px

