.btn-problem-block
    position: absolute
    bottom: 50px
    left: 0
    right: 0

.btn-problem
    position: absolute
    height: 48px
    width: 340px
    bottom: 0
    right: 100px
    border-radius: 45px
    background-color: #6C9E5D
    text-align: center
    transition: all 0.3s ease

    &:hover
        background-color: rgb(92, 134, 79)
        cursor: pointer

    & p
        color: #fff
        font-size: 16px

