.log-page
    display: flex
    justify-content: space-between
    max-height: 90vh
    overflow: hidden
    background: #F7F7F7
    img
        width: 50%
        object-fit: cover

//logIn modal
.header-login
    margin: 64px auto 24px
    color: #518371
    font-weight: bold
    font-size: 20px
    line-height: 23px

.log-in-modal
    // width: 400px
    margin: 120px 23px 10px 155px
.log-in-modal-title
    display: flex
    flex-direction: column
    border-bottom: 1px solid #518371
    margin-bottom: 4px
    input
        width: 260px
        height: 40px
        border-radius: 10px
        background: #ffffff
        outline: none
        border: none
        margin: auto
        margin-bottom: 16px
        font-size: 16px
        padding: 0 10px
        &::-webkit-input-placeholder
            color: #000000
    .checkbox-log
        display: flex
        align-items: center
        width: 280px
        margin: auto
        margin-bottom: 26px
        input
            margin: 0 10px 0 0
            width: 14px
.login-regulations
    text-align: center
    margin: 0 36px
    line-height: 1.4
    a
        font-weight: bold
        color: #78B0A0
 