//map icon-info problem modal 
.icon-info-modal
    display: block
    position: absolute
    top: 1%
    // right: 1%
    left: 1%
    bottom: 0
    z-index: 100
    width: 438px
    height: 610px
    background: #ebebeb
    box-shadow: 0px 4px 16px #CAD2D3
    border-radius: 10px
    margin: auto
.container-info
    width: 385px
    padding: 5px
    margin: 27px auto
    margin-bottom: 0
    border: 1px solid red
    border: none
    border-top: 1px solid #518371
    border-bottom: 1px solid #518371
    .icon
        margin-right: 15px
.heading-photo
    display: flex
    height: 48px
    align-items: center
    p
        color: #518371

.title-img-info-modal
    height: 200px
    width: 300px
    margin: 10px auto
    img
        height: 100%
        width: 100%
        object-fit: fill
.description-problem-modal
    margin: 30px 0 0 0
    .description-head
        display: flex
        align-items: center
        border-top: 1px solid #518371
        padding-top: 15px

        h5
            color: #518371
            font-size: 16px
            font-weight: 400
    .note
        background: #F7F7F7
        min-height: 64px
        max-height: 100px
        color: #518371
        font-size: 14px
        padding: 5px 15px
        border-radius: 10px
.description-type-problem
    display: flex
    padding: 10px 40px
    color: #518371
    h5
        font-size: 16px
        font-weight: 500
        margin-right: 10px
.control-modal
    width: 100%
    text-align: center
//text   in img info modal , in InfoIconProblem
.error-photo
    color: #518371
    font-size: 13px
    text-align: center