html,
body {
    background: rgb(220, 231, 239);
    min-height: 100%;
}

.root {
    min-height: 100%;
}

.wrapper {
    min-height: 100%;
    width: 100%;
}

p {
    margin: 0;
    padding: 0;
}

button:active,
button:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}